.traffic {
    height: 500px;
    width: 220px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 200px;
}

.circle {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.red {
    background: red;
}

.yellow {
    background: rgb(255, 166, 0);
}

.green {
    background: green;
}

.boton {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.highlight {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
}